<section class="contact-form-section">
	<h1 class="section-title">
		Or Get in Touch with
	</h1>
	<form class="contact-form">
		<fieldset class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" id="firstName" name="firstName" placeholder="John" required />
		</fieldset>
		<fieldset class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" id="lastName" name="lastName" placeholder="Smith" required />
		</fieldset>
		<fieldset class="form-group">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Example@gmail.com" required />
		</fieldset>
		<fieldset class="form-group">
			<label for="phoneNumber">Phone Number (Optional)</label>
			<input type="tel" id="phoneNumber" name="phoneNumber" placeholder="+995 568 09 65 43" />
		</fieldset>
		<fieldset class="form-group">
			<label for="message">Message</label>
			<input type="text" id="message" name="message" placeholder="Here Goes Your Interest" />
		</fieldset>
		<fieldset class="form-group">
			<button type="submit">Submit the Form</button>
		</fieldset>
	</form>
</section>