@use "typography" as *;

.container {
  background-color: var(--BG-Section);
  padding: 3rem;
  border-radius: 48px;
}

// titles

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .go-back {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;

    img {
      width: 100%;
      max-width: 32px;
      height: 32px;
      cursor: pointer;
    }
    p {
      @include sub-header-s;
      color: var(--Typography-200);
    }
  }

  .verify-texts {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    h3 {
      @include sub-header-l;
      color: var(--Typography-100);
    }
    p {
      @include regular-r;
      color: var(--Typography-200);
    }
  }
}

.resend-code-texts {
  display: flex;
  width: max-content;
  gap: 0.8rem;
  margin: auto;
  margin-top: 3rem;
  .p-1 {
    @include regular-r;
    color: var(--Typography-Purple-100);
  }

  .p-2 {
    @include regular-b;
    color: var(--Typography-100);
  }
}

// otp input styles

.otp-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.otp-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.otp-input {
  width: 100%; // max-width is 48px
  height: 52px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #e1e5e9;
  border-radius: 12px;
  background-color: var(--BG-Secondary-Section);
  transition: all 0.2s ease;
  outline: none;
}

// filled
.otp-input.filled {
}

.otp-input:disabled {
  background-color: #f9fafb;
  cursor: not-allowed;
  opacity: 0.6;
}

.error-message {
  color: #ef4444;
  font-size: 14px;
  text-align: center;
}

// input bottom lines
.otp-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  max-width: 48px;
  height: 50px;
}
.otp-wrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  bottom: 10px;
  height: 3px;
  background-color: #000;
  max-width: 16px;
  pointer-events: none;
}
