@use "typography" as *;
@use "layout" as *;

.section__container {
  @include container;
  padding-block: var(--Spacing-XL);
}

.hero {
  display: grid;

  position: relative;
  overflow: hidden;
  z-index: 1;

  border-radius: 12px;
  padding-bottom: 32px;
  aspect-ratio: 16 / 9;
  padding: var(--Spacing-L) var(--Spacing-L);

  .banner {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    inset: 0;

    width: 100%;
    height: 100%;
  }

  .content {
    max-width: 416px;

    .title {
      @include header-l;

      span {
        background: linear-gradient(
          93deg,
          var(--Typography-Purple-100, #3c33b8) 41.88%,
          var(--Typography-Purple-200, #6262f5) 72.96%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    .text {
      @include sub-header-s;
      margin: 12px 0 24px;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    gap: 48px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 8px;
      border-radius: 24px;
      background: var(--BG-Nav-Bar, rgba(239, 240, 245, 0.24));
      box-shadow: -1px -1px 0px 0px var(--BG-Secondary-Section, #dbdce0) inset,
        1px 1px 0px 0px var(--BG-Secondary-Section, #dbdce0) inset;
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      transition: background 0.3s;

      &:hover {
        background: var(--BG-Disabled);
      }

      @media screen and (max-width: 768px) {
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .dots {
      display: flex;
      align-items: center;
      gap: 12px;

      .dot {
        transition: background 0.3s;
        cursor: pointer;

        &.active {
          background: var(--BG-Purple-Dark, #3c33b8);
        }

        &:hover {
          background: var(--BG-Disabled);
        }

        width: 12px;
        height: 12px;
        aspect-ratio: 1/1;
        border-radius: 8px;
        background: var(--BG-Nav-Bar, rgba(239, 240, 245, 0.24));
      }
    }
  }
}

.section.magnora {
  background: var(--bg-magnora-section);

  .title {
    color: var(--Typography-White-100, #eff0f5);
  }

  .text {
    color: var(--Typography-White-100, #eff0f5);
  }
}

.section.zenora {
  .title {
    color: var(--Typography-100, #252529);
  }

  .text {
    color: var(--Typography-100, #252529);
  }
}

@media screen and (max-width: 830px) {
  .hero {
    aspect-ratio: 1 / 1;

    .content {
      .title {
        font-size: var(--FONT-SIZE-SHL);
      }

      .text {
        font-size: var(--FONT-SIZE-RR);
      }
    }
  }
}
