<!-- Q&A Section -->
<section class="qa-section">

    <div class="container">
        <div class="answers-section">

            <div class="answer-texts">
                <h2>What You Seek to Know, We’re Here to Share</h2>
                <p>We’ve answered your most common questions — so you can shop with clarity and intention.</p>
            </div>
            <div class="answer-panels">
                <!-- this component loops, manage it from expansion-panels ts -->
                <app-expansion-panel
                *ngFor="let panel of panels" 
                [panelData] = "panel"
                ></app-expansion-panel>
            </div>
            
        </div>
        <div class="contact-us">
            <div class="contact-text">
                <h5>Still Got Questios?</h5>
                <p>If your question wasn’t answered, we’ll guide you directly.</p>
            </div>
            <app-button class="btn">Contact Us</app-button>
        </div>
    </div>

</section>