@use "typography" as *;

.qa-section {
    background-color: var(--BG-Background);

    .container {
        padding: 144px 164px;
        display: flex;
        flex-direction: column;
        gap: 48px;

        .answers-section {
            display: grid;
            grid-template-columns: 416px 648px; 
            grid-gap: 48px;

            .answer-texts {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h2 {
                    font-family: "Outfit";
                    font-size: 46px;
                    line-height: 44px;
                    font-weight: 500;
                    letter-spacing: 2.5px;
                }

                p {
                    @include sub-header-s;
                    color: var(--Typography-300);
                }
            }
            .answer-panels {
                width: 800px;
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }

        .contact-us {
            display: grid;
            margin: auto;
            width: 880px;
            grid-template-columns: 80% 20%;
            
            .btn {
                width: 170px;
                @include regular-b;
            }
            .contact-text {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h5 {
                    @include sub-header-s
                }
                p {
                    @include regular-r;
                    color: var(--Typography-300);
                }
            }
        }
    }
}