@use "layout" as *;
@use "typography" as *;

.reset_password_section {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  @include container;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1.84fr;
    grid-column-gap: 2.5rem;
    padding-top: 13rem;

    .outlet {
      width: 100%;
      max-width: 764px;
      margin-bottom: 64px;
    }
  }
}

.reset_password_texts {
  width: 100%;
  max-width: 416px;
  margin-top: 3rem;
  div {
    h2 {
      @include sub-header-l;
    }
    p {
      @include sub-header-s;
      color: var(--Typography-300);
      margin-top: 12px;
    }
  }

  p {
    @include regular-b;
    cursor: pointer;
    margin-top: 40px;
  }
  span {
    @include regular-r;
    color: var(--Typography-Purple-100);
    margin-right: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .reset_password_section .grid-container {
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;
    padding-top: 8rem;
    width: 100%;

    .outlet {
      max-width: 100%;
    }
  }

  .reset_password_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin-inline: auto;
  }
}


@media (max-width: 350px) {
  .outlet {
    padding: 0px 10px;
    .grid-container {
      width: auto;
    }
  }
}