<section class="reset_password_section">
  <div class="grid-container">
    <div class="reset_password_texts">
      <div>
        <h2>{{ "AUTH.RESET_PASSWORD.TITLE" | translate }}</h2>
        <p>
          {{ "AUTH.RESET_PASSWORD.TEXT" | translate }}
        </p>
      </div>
      <p routerLink="/auth/sign-up">
        <span>
          {{ "AUTH.RESET_PASSWORD.QUESTION.TEXT" | translate }}
        </span>
        {{ "AUTH.RESET_PASSWORD.QUESTION.SPAN" | translate }}
      </p>
    </div>

    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
