<section class="reset_password_section">

    <div class="grid-container">

        <div class="reset_password_texts">
            <div>
                <h2>Reset Your Password</h2>
                <p>
                    Enter your email and we’ll send you a one-time code to verify your identity.
                </p>
            </div>
            
            <p><span>Don’t have an account?</span>Sign Up</p>
        </div>
        
        <div class="outlet">
            <router-outlet></router-outlet>
        </div>
    </div>

</section>