<div class="input-wrapper">
    <label [for]="label" >
      {{ label }}
    <span *ngIf="labelNote" >({{ labelNote }})</span>
    </label>
    <input
      [type]="showPassword ? 'text' : type"
      class="input" 
      [id]="label"
      [value]="value"
      title="FormInput"
      (blur)="onTouched()"
      [ngClass]="status"
      (input)="onInput($event)"
      [placeholder]="placeholder"
    />
    <button
      *ngIf="type === 'password'"
      type="button"
      class="toggle-visibility"
      (click)="showPassword = !showPassword"
    >
      <img *ngIf="showPassword" src="assets/icons/Vissible-Icon.png">
      <img *ngIf="!showPassword" src="assets/icons/Hidden-Icon.png">
    </button>

    <p [ngClass]="status" class="errorMessage"  *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    
    <div *ngIf="formatProperties?.length" class="hints">
      <div>
        <p
          *ngFor="let item of formatProperties"
          [ngClass]="{
            'default': !value,
            'valid': isValidRule(item),
            'invalid': !isValidRule(item)
          }"
          style="margin-top: 5px;"
        >
          • {{ item }}
        </p>
      </div>
      <p *ngIf="forgotPasswordText == true" class="forgot-password">Forgot Password?</p>
    </div>
    
  </div>