@use "typography" as *;
@use "layout" as *;

.container {
    max-width: 768px;
    display: flex;
    justify-content: center;
}


.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.button {
    margin-top: 3rem;
}
.container {
    padding: 48px;
    border-radius: 48px;
    background-color: var(--BG-Section);

    
    .input {
        p {
            color: red; 
            
        }
    }

}


@media (max-width : 950px) {
    .container {
        padding: 24px;
    }
    .input-wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;

    }
    .button {
        margin-top: 2rem;
    }
}



