<div class="container">
  <form [formGroup]="form" class="form">
    <div class="input-wrapper">
      <div class="input">
        <app-form-input
          formControlName="password"
          [label]="'Password'"
          [formatProperties]="[
            'Minimum 8 characters',
            'At least one number',
            'At least uppercase letter'
          ]"
          [type]="'password'"
          [status]="
            form.controls.password.valid
              ? 'success'
              : form.controls.password.touched
              ? 'error'
              : 'normal'
          "
        ></app-form-input>
      </div>

      <div class="input">
        <app-form-input
          formControlName="confirmPassword"
          [errorMessage]="
            form.hasError('passwordsMismatch') &&
            form.controls.confirmPassword.touched
              ? 'Passwords do not match'
              : getErrorMessage(form.controls.confirmPassword)
          "
          [label]="'Confirm Password'"
          [type]="'password'"
          [status]="
            form.hasError('passwordsMismatch') &&
            form.controls.confirmPassword.touched
              ? 'error'
              : form.controls.confirmPassword.valid
              ? 'success'
              : 'normal'
          "
        >
        </app-form-input>
      </div>
    </div>

    <div class="button">
      <app-button>Continue</app-button>
    </div>
  </form>
</div>
