@use "typography" as *;
@use "layout" as *;

.button {
    margin-top: 3rem;
}
.container {
    padding: 48px;
    max-width: 768px;
    border-radius: 48px;
    background-color: var(--BG-Section);
    .input-wrapper {
        display: flex;
        gap: 2rem;
    }
}


@media (max-width : 950px) {
    .container {
        padding: 24px;
    }
    .input-wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;

    }
    .button {
        margin-top: 2rem;
    }
}



@media (max-width: 582px) {
    .button {
        margin-top: 1rem;
    }
    .container {
        max-width: 768px;
        border-radius: 48px;
        background-color: var(--BG-Section);
        .input-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
        }
    }
    
}