@use "typography" as *;
@use "layout" as *;

.button {
    margin-top: 3rem;
}
.container {
    padding: 48px;
    max-width: 768px;
    border-radius: 48px;
    background-color: var(--BG-Section);
    .input-wrapper {
        display: flex;
        gap: 2rem;
    }
}