@use "typography" as *;
@use "layout" as *;

.about-section{
    @include container;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    min-height: 90vh;
    height: 100%;
    padding-top: 15%;
    .section-header-texts {
        @include sub-header-l;

        span {
            color: var(--Typography-Purple-100);
        }
    }
}