<div class="container">
  <div class="clas">
    <div class="magnora-section">
      <h2 class="magnora-title">{{ "ORA.ABOUT.ABOUT.TITLE_1" | translate }}</h2>
      <div class="magnora-description">
        {{ "ORA.ABOUT.ABOUT.TEXT_1" | translate }}
      </div>
    </div>

    <div class="zenora-section">
      <h2 class="zenora-title">
        {{ "ORA.ABOUT.ABOUT.TITLE_2" | translate }}
      </h2>
      <div class="zenora-description">
        {{ "ORA.ABOUT.ABOUT.TEXT_2" | translate }}
      </div>
    </div>
  </div>

  <div class="main-description">
    {{ "ORA.ABOUT.ABOUT.DESCRIPTION" | translate }}
  </div>
</div>
