<section>
    <div class="grid-container">
        <div class="filter" *ngIf="filter">
            <div class="filter-wrapper">
                <img src="assets/icons/filter-icon.png" alt="" class="filter-img">
                <p>Filters</p>
            </div>
            <img src="assets/icons/right-icon.png" alt="" class="right-icon">
        </div>
        <div class="products-wrapper">
            @for (product of products; track product.title) {
                <div class="product">
                    <div class="img">
                        <div class="product-image">
                            <img 
                                [src]="product.img" 
                                alt=""
                            >
                        </div>
                        
                        <div class="heart-img" >
                            <i 
                                class="bi fs-5"
                                [ngClass]="product.isLiked || product.hovered ? 'bi-heart-fill' : 'bi-heart'" 
                                [style.color]="product.isLiked || product.hovered ? 'black' : 'black'"
                                (click)="toggleLike(product)"
                                (mouseenter)="product.hovered = true"
                                (mouseleave)="product.hovered = false"
                            ></i>
                        </div>
                    </div>
                    <div class="texts">
                        <div class="header">
                            <h3>{{product.title}}</h3>
                            <p>${{product.price}}</p>
                        </div>
                        <div class="description">
                            <p>{{product.content}}</p>
                        </div>
                        <div class="button">
                            <app-button  variant="secondary" (clicked)="onAppButtonClick(product.id)">See Details</app-button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>