@use "typography" as *;
@use "layout" as *;

.section {
  background: var(--BG-Section, #e5e6eb);
  padding-top: var(--Section-Padding-XL);
  padding-bottom: var(--Section-Padding-L);
}

.content {
  @include container;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;

  .left {
    max-width: 36.9dvw;
  }

  .right {
    display: grid;
    transform: translateY(var(--Spacing-L));
    row-gap: var(--Spacing-L);

    .img {
      max-width: 300px;
      max-height: 208px;
      justify-self: end;
    }

    .text_box {
      max-width: 28.89dvw;
      justify-self: end;
    }
  }
}

.bottom {
  display: flex;
  gap: var(--Spacing-L);
  justify-self: center;

  .img {
    max-width: 300px;
    max-height: 360px;
  }

  .text_box {
    max-width: 28dvw;
    align-self: flex-end;
    margin-bottom: var(--Spacing-L);
  }
}

// Text styles
.title {
  @include sub-header-l;
  color: var(--Typography-100, #252529);
}

.text {
  @include sub-header-s;
  color: var(--Typography-300, #4b4b52);
}

// Dynamic styles
.about.magnora {
  .title {
    color: var(--Typography-100, #252529);
  }

  p {
    color: var(--Typography-300, #4b4b52);
  }
}

.about.zenora {
  .title {
    color: var(--Typography-Purple-100, #3c33b8);
  }

  p {
    color: var(--Typography-Purple-100, #3c33b8);
  }
}

// Global styles
.img {
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
