@use "typography" as *;
@use "layout" as *;

.section {
  padding-top: var(--Spacing-4XL);
  padding-bottom: var(--Spacing-3XL);
}

.content {
  @include container;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--Spacing-2XL);
  justify-self: center;

  .left {
    max-width: 36.9dvw;
  }

  .right {
    justify-self: end;
    row-gap: var(--Spacing-L);
    margin-top: var(--Spacing-L);

    &.img {
      max-width: 300px;
      max-height: 208px;
    }
  }
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--Spacing-L);

  .left {
    justify-self: end;
    align-self: flex-end;

    &.img {
      width: 21dvw;
      max-width: 300px;
      max-height: 360px;
    }
  }

  .right {
    display: grid;
    margin-bottom: var(--Spacing-L);

    .text_box:first-child {
      justify-self: center;
      transform: translateY(-48px);
    }

    .text_box:last-child {
      align-self: flex-end;
    }

    .text_box {
      max-width: 28dvw;
    }
  }
}

// Text styles
.title {
  @include sub-header-l;
}

.text {
  @include sub-header-s;
}

// Dynamic styles
.section.magnora {
  background: var(--bg-magnora-section);
  color: white;

  .title {
    color: var(--Typography-White-100);
  }

  .text {
    color: var(--Typography-White-300);
  }

  p {
    color: var(--Typography-300);
  }
}

.section.zenora {
  .title {
    color: var(--Typography-Purple-100);
  }

  .text {
    color: var(--Typography-Purple-100);
  }
}

// Global styles
.img {
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
