@use "typography" as *;
@use "layout" as *;

.section {
  padding-top: var(--Spacing-4XL);
  padding-bottom: var(--Spacing-3XL);
}

.content {
  @include container;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 96px;

  @media (max-width: 850px) {
    gap: 48px;
  }
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  column-gap: 48px;

  .left {
    max-width: 36.9dvw;

    .mobile {
      display: none;
    }
  }

  .right {
    justify-self: end;
    row-gap: var(--Spacing-L);
    margin-top: var(--Spacing-L);

    &.img {
      max-width: 300px;
      max-height: 208px;
    }
  }

  @media (max-width: 850px) {
    grid-template-columns: 1fr;

    .left {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 48px;

      .mobile {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        gap: var(--Spacing-L);

        img {
          width: 100%;
          height: 320px;
        }
      }
    }

    .right {
      display: none;
    }
  }

  @media (max-width: 465px) {
    .left .mobile img {
      width: 100%;
      height: 240px;
    }
  }
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: var(--Spacing-L);
  padding: 0px 116px;

  @media (max-width: 850px) {
    padding: 0px;
  }

  .left {
    justify-self: end;
    align-self: flex-end;

    &.img {
      object-fit: cover;
    }

    @media (max-width: 850px) {
      &.img {
        width: 100%;
        height: 320px;
      }
    }

    @media (max-width: 465px) {
      &.img {
        width: 100%;
        height: 240px;
      }
    }
  }

  .right {
    display: grid;

    .text_box:first-child {
      width: 29dvw;
      justify-self: end;
      transform: translateY(-48px);
    }

    @media (max-width:850px) {
      .text_box:first-child {
        justify-self: end;
      }

      .mobile {
        display: none;

      }

      grid-template-columns: 1fr;
    }

    .text_box:last-child {
      width: 29dvw;
      align-self: flex-end;
      margin-bottom: var(--Spacing-L);
    }

  }

  @media (max-width: 850px) {
    .left {
      grid-column: 2;
      grid-row: 1;
    }

    .right {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

// Text styles
.title {
  @include sub-header-l;
}

.text {
  @include sub-header-s;
  color: var(--Typography-300, #4b4b52);
  text-align: left !important;
}

// Dynamic styles
.section.magnora {
  background: var(--bg-magnora-section);
  color: white;

  .title {
    color: var(--Typography-White-100);
  }

  .text {
    color: var(--Typography-White-300);
  }

  p {
    color: var(--Typography-300);
  }
}

.section.zenora {
  .title {
    color: var(--Typography-Purple-100);
  }

  .text {
    color: var(--Typography-Purple-100);
  }
}

// Global styles
.img {
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media (max-width: 850px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 635px) {
  .title {
    font-size: 20px;
  }

  .text {
    font-size: 15px
  }
}

@media (max-width: 583px) {
  .title {
    font-size: 15px;
  }

  .text {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .title {}

  .top {
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
  }
}