<section class="section">
  <div [ngClass]="type" class="content">
    <div class="top">
      <div class="left">
        <h1 class="title">
          @if(type === "magnora") {
          {{ "MAGNORA.HOME.ABOUT.TEXT_1" | translate }}
          } @else {
          {{ "ZENORA.HOME.ABOUT.TEXT_1" | translate }}
          }
        </h1>

        <div class="mobile">
          <img class="box_2" loading="lazy" alt="magnora-about-img-1"
            src="assets/images/magnora-about-img2.png " />

          <div class="text_box">
            <p class="text">
              @if(type === "magnora"){
              {{ "MAGNORA.HOME.ABOUT.TEXT_2" | translate }}
              } @else {
              {{ "ZENORA.HOME.ABOUT.TEXT_2" | translate }}
              }
            </p>
          </div>
        </div>
      </div>

      <div class="right img">
        <img class="box_2" loading="lazy" alt="magnora-about-img-1"
          src="assets/images/magnora-about-img2.png " />
      </div>
    </div>

    <div class="bottom">
      <div class="left img">
        <img class="box_4" loading="lazy" alt="magnora-about-img-2"
          src="assets/images/magnora-about-img.png " />
      </div>

      <div class="right">
        <div class="text_box mobile">
          <p class="text">
            @if(type === "magnora"){
            {{ "MAGNORA.HOME.ABOUT.TEXT_2" | translate }}
            } @else {
            {{ "ZENORA.HOME.ABOUT.TEXT_2" | translate }}
            }
          </p>
        </div>
        <div class="text_box">
          <p class="text">
            @if(type === "magnora"){
            {{ "MAGNORA.HOME.ABOUT.TEXT_3" | translate }}
            } @else {
            {{ "ZENORA.HOME.ABOUT.TEXT_3" | translate }}
            }
          </p>
        </div>
      </div>
    </div>
  </div>
</section>