@use "typography" as *;

.features {
  padding: 144px 0;
  background: var(--BG-Background, #eff0f5);
}

.first {
  display: flex;

  margin-bottom: 96px;
  margin-left: 232px;

  .text {
    margin: 0 0 48px 48px;
    align-self: flex-end;
  }
}

.second {
  display: flex;
  margin-bottom: 47px;
  margin-right: 116px;

  .text {
    margin: 156px 0 48px 48px;
  }

  .img2 {
    margin-top: 96px;
  }
}

.third {
  display: flex;
  margin: 0 232px 96px 116px;
  gap: 48px;

  .text {
    align-self: flex-end;
    margin-bottom: 48px;
  }
}

.fourth {
  display: flex;
  align-items: center;
  margin-left: 116px;
  gap: 164px;

  .right {
    display: flex;
    flex-direction: column;
    gap: 96px;
  }

  .top {
    display: flex;
    align-items: end;
    gap: 48px;

    .text {
      margin-bottom: 48px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    .text {
      margin-top: 4px;
      margin-bottom: 16px;
    }
  }
}

.title {
  @include header-s;
  color: var(--Typography-100, #252529);
}

.text {
  @include sub-header-s;
  color: var(--Typography-300, #4b4b52);
}
