<section class="features">
  <div class="content container">
    <!-- 1 -->
    <div class="first">
      <div class="title">Jewelry That Carries Power</div>
      <div class="img">
        <img
          width="300"
          height="360"
          loading="lazy"
          alt="magnora-feature (1)"
          src="assets/images/magnora-feature (5).png"
        />
      </div>
      <div class="text">
        Explore our curated collection of energy-infused designs.
      </div>
    </div>

    <!-- 2 -->
    <div class="second">
      <div class="img">
        <img
          width="416"
          height="288"
          loading="lazy"
          alt="magnora-feature (2)"
          src="assets/images/magnora-feature (4).png"
        />
      </div>

      <div class="text">
        Explore our curated collection of energy-infused designs.
      </div>

      <div class="img2">
        <img
          width="416"
          height="289"
          loading="lazy"
          alt="magnora-feature (3)"
          src="assets/images/magnora-feature (3).png"
        />
      </div>
    </div>

    <!-- 3 -->
    <div class="third">
      <div class="img">
        <img
          width="184"
          height="220"
          loading="lazy"
          alt="magnora-feature (4)"
          src="assets/images/magnora-feature (2).png"
        />
      </div>
      <div class="img">
        <img
          width="300"
          height="360"
          loading="lazy"
          alt="magnora-feature (5)"
          src="assets/images/magnora-feature (1).png"
        />
      </div>
      <div class="text">
        Explore our curated collection of energy-infused designs.
      </div>
    </div>

    <!-- 4 -->
    <div class="fourth">
      <div class="img">
        <img
          width="300"
          height="360"
          loading="lazy"
          alt="magnora-feature (6)"
          src="assets/images/magnora-about-img.png"
        />
      </div>

      <!--  -->
      <div class="right">
        <div class="top">
          <div class="img">
            <img
              width="416"
              height="288"
              loading="lazy"
              alt="magnora-feature (7)"
              src="assets/images/magnora-feature (6).png"
            />
          </div>
          <div class="text">
            Power, protection, love, clarity — what are you drawn to today?
          </div>
        </div>

        <!--  -->
        <div class="bottom">
          <h1 class="title">Find Your Power?</h1>
          <p class="text">
            Each piece is more than a design — it’s an intention. Find the one
            that aligns with your strength, focus, and purpose.
          </p>
          <app-button>See Our Collection</app-button>
        </div>
      </div>
    </div>
  </div>
</section>
