@use "typography" as *;

section {
  display: grid;
  grid-auto-rows: auto;

  padding-top: 9rem;
  row-gap: 10px;
  height: 80vh;

  background: var(--BG-Section);
  padding-inline: var(--Spacing-L);

  .div-header {
    margin-top: 35px;
    width: 880px;

    h1 {
      @include header-l;
      color: var(--Typography-100, #252529);

      span {
        background: linear-gradient(
          90deg,
          var(--Typography-Purple-200, #6262f5),
          var(--Typography-Purple-100, #3c33b8)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
  }

  .div-right {
    @include sub-header-s;

    max-width: 416px;

    color: var(--Typography-100, #252529);
    transform: translateY(-0.8rem);
    justify-self: end;
  }

  .div-left {
    @include sub-header-s;

    max-width: 427px;

    color: var(--Typography-100, #252529);
    transform: translate(-14rem, -5rem);
    justify-self: center;
  }

  @media (max-width: 1024px) {
    .div-header {
      width: 600px;
    }

    .div-left {
      transform: translate(-6rem, -3rem);
    }
  }

  @media (max-width: 768px) {
    .div-header {
      width: 100%;
      max-width: 880px;
      margin: 0 auto;
      padding: 0 16px;

      h1 {
        margin: 0;
        text-align: center;
      }
    }

    .div-right,
    .div-left {
      max-width: 100%;
      justify-self: center;
      text-align: center;
      transform: none;
    }

    .div-left {
      margin-top: -1rem;
    }
  }

  @media (max-width: 700px) {
    .div-header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
