<app-collections-hero-section type="zenora"></app-collections-hero-section>

<section class="collections_section">
  <div class="tabs_container">
    <div class="tabs">
      <button
        routerLinkActive="active"
        routerLink="woman"
        class="button"
        type="button"
      >
        Women
      </button>
      <button
        routerLinkActive="active"
        routerLink="man"
        class="button"
        type="button"
      >
        Man
      </button>
    </div>
  </div>

  <section class="tab_content">
    <router-outlet></router-outlet>
  </section>
</section>

<app-home-service-section type="zenora"></app-home-service-section>

<app-collections-cta-section type="zenora"></app-collections-cta-section>
