<section class="hero">
  <video autoplay loop muted class="video">
    <source src="assets/videos/magnora-hero-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="content container">
    <div class="title">
      Crafted for <span> Power. </span> <br />
      Designed for <span>Elegance.</span>
    </div>

    <div class="box">
      <h3>
        Magnora blends modern luxury with ancient energy — jewelry for those who
        wear their ambition with intention.
      </h3>
      <div class="btns">
        <app-button>Get started</app-button>
        <app-button variant="secondary">See Our Product</app-button>
      </div>
    </div>
  </div>
</section>
