@use "typography" as *;
@use "layout" as *;

.qa-section {
  padding-block: var(--Spacing-3XL);

  .qa-section-container {
    @include container;
    max-width: 1112px;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 48px;
    }
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 41.1dvw;
    justify-content: center;
    gap: 48px;

    @media (max-width: 900px) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .answer-texts {
      display: flex;
      flex-direction: column;
      gap: 12px;

      h2 {
        @include header-s;
      }

      p {
        @include sub-header-s;
      }
    }

    // expansion styles
    .accordion {
      &.mat-accordion {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .mat-expansion-panel {
        border-radius: 36px;
        background: var(--BG-Section, #e5e6eb);
        box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
          1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
          0px 0px 24px 0px var(--BG-Dissabled, #c7c8cc) inset;
      }

      .mat-expansion-panel-header {
        background: var(--BG-Secondary-Section, #dbdce0);
        padding: 12px 36px 12px 32px;
        transition: all 0.5s;
        border-radius: 36px;
        height: 72px;

        box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
          1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset;

        &:hover {
          background-color: var(--BG-Section);
          transition: 0.5s;
        }
      }

      .mat-expansion-panel-header-title {
        @include regular-b;
      }

      .mat-panel-body {
        display: flex;
        flex-direction: column;

        background-color: var(--BG-Section);
        border-radius: 0 0 12px 12px;
        padding-bottom: 32px;
        padding-left: 12px;

        .separator {
          width: 100%;
          height: 2px;

          margin-bottom: 16px;
          background: var(--BG-Secondary-Section, #dbdce0);
        }

        p {
          @include regular-r;
        }
      }

      .mat-expansion-panel.mat-expanded {
        .mat-expansion-panel-header {
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }
}

// CTA
.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--Spacing-2XL);
  padding-top: var(--Spacing-L);
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: 900px) {
    width: 100%;
    padding: 0;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h5 {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 1.6px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.96px;
    }
  }
}

// magnora - zenora
.qa-section.magnora {
  background: var(--bg-magnora-section);

  .answer-texts {
    h2 {
      color: var(--Typography-White-100, #eff0f5);
    }

    p {
      color: var(--Typography-White-300, #c7c8cc);
    }
  }

  .mat-accordion.accordion {
    .mat-expansion-panel-header {
      background: var(--bg-magnora-secondary-section, #0e0b14);
      box-shadow: -1px -1px 0px 0px #2e2e3d inset, 1px 1px 0px 0px #2e2e3d inset,
        0px 0px 24px 0px #2e2e3d inset;

      &:hover {
        background: var(--bg-magnora-secondary-section, #0e0b14d7);
      }
    }

    .mat-expansion-panel-header-title {
      color: var(--Typography-White-100, #eff0f5);
    }

    .mat-expansion-panel {
      background: var(--bg-magnora-secondary-section, #0e0b14);
      box-shadow: -1px -1px 0px 0px #2e2e3d inset, 1px 1px 0px 0px #2e2e3d inset,
        0px 0px 24px 0px #2e2e3d inset;
    }

    .mat-panel-body {
      background: var(--bg-magnora-secondary-section, #0e0b14);

      p {
        color: var(--Typography-White-300, #c7c8cc);
      }

      .separator {
        background: var(--bg-magnora-dissabled, #17171f);
      }
    }
  }

  .contact-text {
    h5 {
      color: var(--Typography-White-100, #eff0f5);
    }

    p {
      color: var(--Typography-White-100, #eff0f5);
    }
  }
}

.qa-section.zenora {
  background-color: var(--BG-Background);

  .answer-texts {
    h2 {
      color: var(--Typography-Purple-100, #3c33b8);
    }

    p {
      color: var(--Typography-Purple-200, #6262f5);
    }
  }

  .mat-accordion.accordion {
    .mat-expansion-panel-header-title {
      color: var(--Typography-Purple-100, #3c33b8);
    }

    .mat-panel-body p {
      color: var(--Typography-Purple-200, #6262f5);
    }
  }

  .contact-text {
    h5 {
      color: var(--Typography-Purple-100, #3c33b8);
    }

    p {
      color: var(--Typography-Purple-100, #3c33b8);
    }
  }
}
