@use "typography" as *;

.section {
  background: var(--BG-Section, #e5e6eb);
  padding: 192px 0 144px;
}

.about {
  display: grid;
  grid-template-columns: auto auto;

  padding: 0 116px;
}

.first {
  @include sub-header-l;
  color: var(--Typography-100, #252529);
}

.second {
  display: grid;
  justify-items: end;
  margin-top: 48px;
  gap: 48px;
}

.third {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  margin-left: 116px;
  gap: 48px;

  position: relative;
  top: -30px;

  p {
    margin-bottom: 48px;
  }
}

p {
  @include sub-header-s;
  color: var(--Typography-300, #4b4b52);
}
