<section class="section">
  <div class="about container">
    <div class="first">
      Magnora is a name born from two powerful roots: Magna – Latin for
      greatness and strength, Ora – Meaning energy, aura, life force.
    </div>
    <div class="second">
      <img
        width="300"
        height="208"
        loading="lazy"
        alt="magnora-about-img-1"
        src="assets/images/magnora-about-img.png "
      />
      <p>
        Together, Magnora represents a brand that transforms luxury jewelry into
        energetic symbols of power, success, and inner strength.
      </p>
    </div>
    <div class="third">
      <img
        width="300"
        height="360"
        loading="lazy"
        alt="magnora-about-img-2"
        src="assets/images/magnora-about-img2.png "
      />
      <p>
        Every piece is more than an accessory — it’s a code, carrying purpose
        and transformation for those who lead with vision.
      </p>
    </div>
  </div>
</section>
