@use "typography" as *;
@use "layout" as *;

.features {
  padding-block: var(--Spacing-3XL);
}

.content {
  @include container;
  display: grid;

  .first {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: var(--Spacing-XL);
    column-gap: var(--Spacing-L);
    justify-self: end;
    max-width: 1200px;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      gap: var(--Spacing-L);
    }

    .left {
      margin-top: var(--Spacing-L);
    }

    .right {
      display: grid;
      column-gap: var(--Spacing-L);
      grid-template-columns: repeat(2, minmax(200px, auto));

      @media (max-width: 700px) {
        grid-template-columns: 1.4fr 1fr;
      }

      .img {
        max-width: 20dvw;
        max-height: 360px;
        aspect-ratio: 300 / 360;

        @media (max-width: 700px) {
          display: flex;
          justify-content: center;

          width: 100%;
          max-width: none;
        }
      }

      .text {
        margin-bottom: var(--Spacing-L);
        align-self: flex-end;
      }
    }
  }

  .second {
    display: grid;
    justify-self: start;
    grid-template-columns: auto 1fr;

    margin-bottom: var(--Spacing-L);
    column-gap: var(--Spacing-L);

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      justify-self: auto;
      gap: 48px;
    }

    .left {
      align-self: flex-start;

      @media (max-width: 700px) {
        grid-row: 2;
      }
    }

    .right {
      display: grid;
      column-gap: var(--Spacing-L);
      margin-top: var(--Spacing-XL);
      grid-template-columns: auto 1fr;

      @media (max-width: 700px) {
        grid-row: 1;
        margin: 0px;
      }

      @media screen and (max-width: 400px) {
        grid-template-columns: 1fr 1fr;
      }

      .text {
        margin-top: var(--Spacing-L);
        max-width: 21vw;

        @media screen and (max-width: 400px) {
          max-width: none;
        }
      }
    }

    .img {
      width: 29dvw;
      max-width: 416px;
      max-height: 288px;

      @media (max-width: 700px) {
        width: 100%;
        max-width: none;
      }
    }
  }

  .third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: var(--Spacing-XL);
    column-gap: var(--Spacing-L);

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    .left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--Spacing-L);

      @media (max-width: 700px) {
        grid-template-columns: 1.4fr 1fr;

        grid-row: 2;
      }

      .img:first-child {
        justify-self: end;
        max-width: 184px;
        max-height: 220px;

        @media (max-width: 700px) {
          justify-self: auto;
          max-width: none;
          max-height: 280px;
        }
      }

      .img:last-child {
        max-width: 300px;
        max-height: 360px;

        @media (max-width: 700px) {
          max-width: none;
          max-height: 210px;
        }

        @media screen and (max-width: 400px) {
          aspect-ratio: 133 / 150;
        }
      }
    }

    .right {
      max-width: 420px;
      align-self: flex-end;
      margin-bottom: var(--Spacing-L);
    }
  }

  .forth {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--Spacing-L);

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      gap: 48px;
    }

    .left {
      width: 21dvw;
      max-width: 300px;
      max-height: 360px;
      align-self: center;
      justify-self: center;

      @media (max-width: 700px) {
        max-width: none;
        width: 100%;
        max-height: none;
        height: 270px;
      }
    }

    .right {
      display: grid;
      row-gap: var(--Spacing-XL);

      .top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--Spacing-L);

        @media (max-width: 700px) {
          grid-template-columns: 1fr;
        }

        .text {
          align-self: flex-end;
          margin-bottom: var(--Spacing-L);

          @media (max-width: 700px) {
            grid-row: 1;
          }
        }

        .img {
          width: 29dvw;
          max-width: 416px;
          max-height: 288px;

          @media (max-width: 700px) {
            width: 100%;
            max-width: none;
            max-height: 270px;
          }
        }
      }

      .cta {
        display: flex;
        flex-direction: column;

        .text {
          @include regular-r;

          margin-top: 4px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.img {
  border-radius: var(--Border-Radius);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// TEXTS
.title {
  @include header-s;

  @media screen and (max-width: 400px) {
    font-size: var(--FONT-SIZE-SHL);
  }
}

.text {
  @include sub-header-s;

  @media screen and (max-width: 400px) {
    word-break: break-all;
    font-size: 12px;
  }
}

.features.magnora {
  background: var(--bg-magnora-section);

  .title {
    color: var(--Typography-White-100);
  }

  .text {
    color: var(--Typography-White-300);
  }
}

.features.zenora {
  background: var(--BG-Background, #eff0f5);

  .title {
    color: var(--Typography-Purple-100, #3c33b8);
  }

  .text {
    color: var(--Typography-Purple-200, #6262f5);
  }
}
