@use "typography" as *;
@use "layout" as *;

.features {
  padding-block: var(--Spacing-3XL);
  background: var(--BG-Background, #eff0f5);
}

.content {
  @include container;
  display: grid;

  .first {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: var(--Spacing-XL);
    column-gap: var(--Spacing-L);
    justify-self: end;
    max-width: 1200px;

    .left {
      margin-top: var(--Spacing-L);
    }

    .right {
      display: grid;
      column-gap: var(--Spacing-L);
      grid-template-columns: repeat(2, minmax(200px, auto));

      .img {
        max-width: 20dvw;
        max-height: 360px;
        aspect-ratio: 300 / 360;
      }

      .text {
        margin-bottom: var(--Spacing-L);
        align-self: flex-end;
      }
    }
  }

  .second {
    display: grid;
    justify-self: start;
    grid-template-columns: auto 1fr;

    margin-bottom: var(--Spacing-L);
    column-gap: var(--Spacing-L);

    .left {
      align-self: flex-start;
    }

    .right {
      display: grid;
      column-gap: var(--Spacing-L);
      margin-top: var(--Spacing-XL);
      grid-template-columns: auto 1fr;

      .text {
        margin-top: var(--Spacing-L);
        max-width: 21vw;
      }
    }

    .img {
      width: 29dvw;
      max-width: 416px;
      max-height: 288px;
    }
  }

  .third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: var(--Spacing-XL);
    column-gap: var(--Spacing-L);

    .left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--Spacing-L);

      .img:first-child {
        justify-self: end;
        max-width: 184px;
        max-height: 220px;
      }

      .img:last-child {
        max-width: 300px;
        max-height: 360px;
      }
    }

    .right {
      max-width: 420px;
      align-self: flex-end;
      margin-bottom: var(--Spacing-L);
    }
  }

  .forth {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--Spacing-L);

    .left {
      width: 21dvw;
      max-width: 300px;
      max-height: 360px;
      align-self: center;
    }

    .right {
      display: grid;
      row-gap: var(--Spacing-XL);

      .top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--Spacing-L);

        .text {
          align-self: flex-end;
          margin-bottom: var(--Spacing-L);
        }

        .img {
          width: 29dvw;
          max-width: 416px;
          max-height: 288px;
        }
      }

      .cta {
        display: flex;
        flex-direction: column;

        .text {
          @include regular-r;

          margin-top: 4px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.img {
  border-radius: var(--Border-Radius);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// TEXTS
.title {
  @include header-s;
}

.text {
  @include sub-header-s;
}

.features.magnora {
  .title {
    color: var(--Typography-100, #252529);
  }

  .text {
    color: var(--Typography-300, #4b4b52);
  }
}

.features.zenora {
  .title {
    color: var(--Typography-Purple-100, #3c33b8);
  }

  .text {
    color: var(--Typography-Purple-200, #6262f5);
  }
}
