<section [ngClass]="type" class="features">
  <div class="content">
    <!-- 1 -->
    <div class="first">
      <div class="left">
        <h1 class="title">
          @if (type === "magnora") {
          {{ "MAGNORA.HOME.COLLECTIONS.TEXT_1" | translate }}
          } @else {
          {{ "ZENORA.HOME.COLLECTIONS.TEXT_1" | translate }}
          }
        </h1>
      </div>

      <div class="right">
        <div class="img">
          <img
            width="300"
            height="360"
            loading="lazy"
            alt="magnora-feature (1)"
            src="assets/images/magnora-feature (5).png"
          />
        </div>

        <div class="text">
          @if (type === "magnora") {
          {{ "MAGNORA.HOME.COLLECTIONS.TEXT_2" | translate }}
          } @else {
          {{ "ZENORA.HOME.COLLECTIONS.TEXT_2" | translate }}
          }
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="second">
      <div class="left img">
        <img
          width="416"
          height="288"
          loading="lazy"
          alt="magnora-feature (2)"
          src="assets/images/magnora-feature (4).png"
        />
        <div class="text">
          @if (type === "magnora") {
          {{ "MAGNORA.HOME.COLLECTIONS.TEXT_3" | translate }}
          } @else {
          {{ "ZENORA.HOME.COLLECTIONS.TEXT_3" | translate }}
          }
        </div>
      </div>

      <div class="right">
        

        <div class="img">
          <img
            width="416"
            height="289"
            loading="lazy"
            alt="magnora-feature (3)"
            src="assets/images/magnora-feature (3).png"
          />
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="third">
      <div class="left">
        <div class="img">
          <img
            width="184"
            height="220"
            loading="lazy"
            alt="magnora-feature (4)"
            src="assets/images/magnora-feature (2).png"
          />
        </div>

        <div class="img">
          <img
            width="300"
            height="360"
            loading="lazy"
            alt="magnora-feature (5)"
            src="assets/images/magnora-feature (1).png"
          />
        </div>
      </div>

      <div class="right">
        <p class="text">
          @if (type === "magnora") {
          {{ "MAGNORA.HOME.COLLECTIONS.TEXT_4" | translate }}
          } @else {
          {{ "ZENORA.HOME.COLLECTIONS.TEXT_4" | translate }}
          }
        </p>
      </div>
    </div>

    <!-- 4 -->
    <div class="forth">
      <div class="left img">
        <img
          width="300"
          height="360"
          loading="lazy"
          alt="magnora-feature (6)"
          src="assets/images/magnora-about-img.png"
        />
      </div>

      <div class="right">
        <div class="top">
          <div class="img">
            <img
              width="416"
              height="288"
              loading="lazy"
              alt="magnora-feature (7)"
              src="assets/images/magnora-feature (6).png"
            />
          </div>

          <div class="text">
            @if (type === "magnora") {
            {{ "MAGNORA.HOME.COLLECTIONS.TEXT_5" | translate }}
            } @else {
            {{ "ZENORA.HOME.COLLECTIONS.TEXT_5" | translate }}
            }
          </div>
        </div>

        <div class="cta">
          <h1 class="title">
            @if (type === "magnora") {
            {{ "MAGNORA.HOME.CTA.TITLE" | translate }}
            } @else {
            {{ "ZENORA.HOME.CTA.TITLE" | translate }}
            }
          </h1>
          <p class="text">
            @if (type === "magnora") {
            {{ "MAGNORA.HOME.CTA.TEXT" | translate }}
            } @else {
            {{ "ZENORA.HOME.CTA.TEXT" | translate }}
            }
          </p>
          <app-button>See Our Collection</app-button>
        </div>
      </div>
    </div>
  </div>
</section>
