@use "typography" as *;
@use "layout" as *;

.features {
  padding: 144px 0;
  background: var(--BG-Background, #eff0f5);
}

// Grid
.content {
  @include grid-container;
}

//
.box_1 {
  margin-top: 48px;
}

.box_2 {
  grid-column: 6 / 9;
}

.box_3 {
  grid-column: 9 / 12;
  align-self: flex-end;
  margin-bottom: 48px;
}

.box_4 {
  grid-column: 1 / 5;
}

.box_5 {
  grid-column: 5 / 8;
  margin-top: 156px;
}

.box_6 {
  grid-column: 8 / 12;
  margin-top: 96px;
}

.box_7 {
  grid-column: 2 / 4;
}

.box_8 {
  grid-column: 4 / 7;
}

.box_9 {
  grid-column: 7 / 11;
  align-self: flex-end;
  margin-bottom: 48px;
}

.box_10 {
  grid-column: 2 / 5;
  position: relative;
  top: 96px;
}

.box_11 {
  grid-column: 6 / 10;
}

.box_12 {
  grid-column: 10 / 13;
  position: relative;
  top: 156px;
}

.box_13 {
  grid-column: 6 / 11;
}

//
.separator {
  grid-column: 1 / 13;
  margin-top: 96px;
}

.separator_2 {
  grid-column: 1 / 13;
  margin-top: 48px;
}

// CTA
.cta {
  display: flex;
  flex-direction: column;

  .text {
    @include regular-r;

    margin-top: 4px;
    margin-bottom: 16px;
  }
}

// TEXTS
.title {
  @include header-s;
}

.text {
  @include sub-header-s;
}

.features.magnora {
  .box_1 {
    grid-column: 3 / 6;
  }

  .title {
    color: var(--Typography-100, #252529);
  }

  .text {
    color: var(--Typography-300, #4b4b52);
  }
}

.features.zenora {
  .box_1 {
    grid-column: 2 / 6;
  }

  .title {
    color: var(--Typography-Purple-100, #3c33b8);
  }

  .text {
    color: var(--Typography-Purple-200, #6262f5);
  }
}
