@use "layout" as *;
@use "typography" as *;


.sign_up_section {
    height: auto;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    @include container;
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1.84fr;
        grid-column-gap: 2.5rem;
        padding-top: 13rem;


        .outlet {
            width: 100%;
            max-width: 764px;
            
        }
    }
}

.sign_up_texts {
    width: 100%;
    max-width: 416px;
    margin-top: 3rem;
    div {
        h2 {
            @include sub-header-l;
        }
        p {
            @include sub-header-s;
            color: var(--Typography-300);
            margin-top: 12px;
        }
    }

    p {
        @include regular-b;
        margin-top: 40px;
    }
    span {
        @include regular-r;
        color: var(--Typography-Purple-100);
        margin-right: 12px;
    }
}



@media (max-width: 768px) {
    .sign_up_section {
        .grid-container {
            grid-template-columns: 1fr;
            grid-row-gap: 2rem;
            padding-top: 7rem;
    
    
            .outlet {
                width: 100%;
                max-width: 764px;
                
            }
        }
    }
}