<section class="sign_up_section">

    <div class="grid-container">

        <div class="sign_up_texts">
            <div>
                <h2>Create Your Account</h2>
                <p>
                    Start your journey with access to energy-matched recommendations, saved pieces, and exclusive offerings.
                </p>
            </div>
            
            <p><span>Already have an account?</span> Log In</p>
        </div>
        
        <div class="outlet">
            <router-outlet></router-outlet>
        </div>
    </div>

</section>
