<section class="sign_up_section">
  <div class="grid-container">
    <div class="sign_up_texts">
      <div>
        <h2>{{ "AUTH.SIGN_UP.TITLE" | translate }}</h2>
        <p>
          {{ "AUTH.SIGN_UP.TEXT" | translate }}
        </p>
      </div>
      <p>
        <span>
          {{ "AUTH.SIGN_UP.QUESTION.TEXT" | translate }}
        </span>
        {{ "AUTH.SIGN_UP.QUESTION.SPAN" | translate }}
      </p>
    </div>

    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
