@use "typography" as *;
@use "layout" as *;



.home-service {
  background-color: var(--BG-Section);
  padding-block: var(--Spacing-3XL);
  .content {
    @include container;
    max-width: 1112px;
  }

  .service-header {
    display: flex;
    flex-direction: column;
    gap: 24px;


    h2 {
      @include header-s;
    }

    p {
      @include sub-header-s;
    }
  }

  .service-image-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

    row-gap: var(--Spacing-XL);
    column-gap: var(--Spacing-L);
    margin-top: var(--Spacing-XL);


    .service-card {
      display: flex;
      flex-direction: column;
      gap: var(--Spacing-XL);

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover; 
      }


      .service-card-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      h3 {
        @include sub-header-s;
      }

      p {
        @include regular-r;
        color: var(--Typography-300);
      }
    }
  }
}

.home-service.zenora {
  .service-header {
    h2 {
      color: var(--Typography-Purple-100, #3c33b8);
    }

    p {
      color: var(--Typography-Purple-200, #6262f5);
    }
  }

  .service-image-cards .service-card {
    h3 {
      color: var(--Typography-Purple-100, #3c33b8);
    }

    p {
      color: var(--Typography-Purple-200, #6262f5);
    }
  }
}


@media (max-width: 780px) {
  .home-service {

    .service-header {
      display: flex;
      flex-direction: column;
      gap: 24px;


      h2 {
        @include sub-header-l;
      }

      p {
        @include regular-r;
      }
    }

    .service-image-cards {
      display: grid;
      grid-template-columns: 1fr;

      row-gap: var(--Spacing-XL);
      column-gap: var(--Spacing-L);
      margin-top: var(--Spacing-XL);


      .service-card {
        width: 400px;
        justify-self: center;
        gap: var(--Spacing-XL);

        .service-card-box {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }

        img {
          width: 100%;
          min-height: 244px;
          max-height: 420px;
          border-radius: 12px;
          object-fit: cover;
        }
      }
    }
  }
}



@media (max-width: 500px) {
  .home-service {

    .service-header {
      display: flex;
      flex-direction: column;
      gap: 24px;


      h2 {
        @include sub-header-l;
      }

      p {
        @include regular-r;
      }
    }

    .service-image-cards {
      display: grid;
      grid-template-columns: 1fr;

      row-gap: var(--Spacing-XL);
      column-gap: var(--Spacing-L);
      margin-top: var(--Spacing-XL);


      .service-card {
        width: 400px;
        justify-self: center;
        gap: var(--Spacing-XL);

        .service-card-box {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }

        img {
          width: 100%;
          width: 342px;
          height: 244px;
          border-radius: 12px;
          object-fit: cover;
        }
        
      h3 {
        @include sub-header-s;
      }

      p {
        @include regular-r;
        color: var(--Typography-300);
      }
      }
    }
  }
}