@use "typography" as *;
@use "layout" as *;

.collections_section {
  @include container;
  padding-block: var(--Spacing-L);
}

.first {
  display: grid;
  margin-bottom: 1.5rem;
  grid-template-rows: repeat(2, 1fr);

  .title {
    @include header-s;
  }

  .texts {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--Spacing-L);

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    .left {
      grid-row: 2;
    }

    .right {
      grid-column: 2;
    }

    .text {
      @include sub-header-s;
    }
  }
}

.box_2 {
  position: absolute;
  transform: translateY(-100px);
}

.box_3 {
  padding-right: var(--Spacing-2XL);
  padding-top: var(--Spacing-3XL);
}

.box_6 {
  transform: translateY(-60px);
}

//
.left {
  display: flex;
  text-align: end;
  align-items: end;
  justify-content: end;
  gap: var(--Spacing-L);

  .content {
    align-items: end;
  }
}

.right {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: row-reverse;
  gap: var(--Spacing-L);
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--Spacing-L);
  gap: 12px;

  .title {
    @include sub-header-l;
  }

  .text {
    @include sub-header-s;
  }
}

//
.img_1 {
  max-width: 21dvw;
  min-width: 150px;
  max-height: 360px;
}

.img_2 {
  max-width: 28dvw;
  min-width: 200px;
  max-height: 289px;
}

.img_1,
.img_2 {
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section.magnora {
  background: var(--bg-magnora-section, #09070d);

  .title {
    color: var(--Typography-White-100, #eff0f5);
  }

  .text {
    color: var(--Typography-White-300, #c7c8cc);
  }
}

.section.zenora {
  .title {
    color: var(--Typography-Purple-100, #3c33b8);
  }

  .text {
    color: var(--Typography-Purple-200, #6262f5);
  }
}

//

@media screen and (max-width: 900px) {
  .collections_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .first {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .content {
    app-button {
      width: auto;
    }
  }

  .box_2 {
    position: static;
    transform: translateY(0px);
  }

  .box_3 {
    padding: 0;
  }

  .box_6 {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 500px) {
  .left,
  .right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .content {
      width: 100%;
      align-items: center;
    }

    .img_1,
    .img_2 {
      aspect-ratio: 1 / 1;
      max-width: 100%;
    }
  }
}

//
