<div [ngClass]="type" class="section">
  <div class="collections_section">
    <div class="first">
      <h1 class="title">
        @if(type === "magnora") {
        {{ "MAGNORA.COLLECTIONS.SUB.TITLE" | translate }}
        } @else {
        {{ "ZENORA.COLLECTIONS.SUB.TITLE" | translate }}
        }
      </h1>

      <div class="texts">
        <p class="left text">
          @if(type === "magnora") {
          {{ "MAGNORA.COLLECTIONS.SUB.TEXT_1" | translate }}
          } @else {
          {{ "ZENORA.COLLECTIONS.SUB.TEXT_1" | translate }}
          }
        </p>
        <p class="right text">
          @if(type === "magnora") {
          {{ "MAGNORA.COLLECTIONS.SUB.TEXT_2" | translate }}
          } @else {
          {{ "ZENORA.COLLECTIONS.SUB.TEXT_2" | translate }}
          }
        </p>
      </div>
    </div>

    @for (item of collectionsBoxes; track $index) {
    <div [ngClass]="'box_' + item.id" [ngClass]="item.position">
      <div class="content">
        <h1 class="title">
          {{ item.content.titleKey[type][genre] | translate }}
        </h1>
        <p class="text">
          {{ item.content.textKey[type][genre] | translate }}
        </p>
        <app-button
          [routerLink]="
            type == 'magnora'
              ? '/magnora/collection/details/' + item.id
              : '/zenora/collection/details/' + item.id
          "
          variant="secondary"
        >
          {{ item.button.text }}
        </app-button>
      </div>
      <div [ngClass]="item.imageType">
        <img
          [height]="item.imageConfig.height"
          [width]="item.imageConfig.width"
          [src]="item.imageConfig.src"
          [alt]="item.imageConfig.alt"
          loading="lazy"
          title="image"
        />
      </div>
    </div>
    }
  </div>
</div>
