@mixin container {
  width: 100%;
  max-width: 1440px;

  padding-inline: clamp(1.5rem, 5vw, 3rem); // 16px–48px
  margin-inline: auto;
}

@mixin grid_container {
  width: 100%;
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 48px;

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(7, 1fr);
    column-gap: 24px;
    padding: 0 24px;
  }
}
