@mixin header-m {
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: -1.68px;
}

@mixin header-s {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 3.2px;
}

@mixin sub-header-l {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 2.56px;
}

@mixin sub-header-m {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1.12px;
}

@mixin sub-header-s {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1.6px;
}

@mixin regular-r {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.96px;
}

@mixin regular-b {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
}

@mixin small-r {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

@mixin small-b {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
