@mixin header-l {
  font-family: var(--FONT-FAMILY-1);
  font-size: var(--FONT-SIZE-HL);
  font-weight: var(--FONT-WEIGHT-HL);
  letter-spacing: var(--LETTER-SPACING-HL);
}

@mixin header-m {
  font-family: var(--FONT-FAMILY-1);
  font-size: var(--FONT-SIZE-HM);
  font-weight: var(--FONT-WEIGHT-HM);
  letter-spacing: var(--LETTER-SPACING-HM);
}

@mixin header-s {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-HS);
  font-weight: var(--FONT-WEIGHT-HS);
  letter-spacing: var(--LETTER-SPACING-HS);
}

@mixin sub-header-l {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-SHL);
  font-weight: var(--FONT-WEIGHT-SHL);
  letter-spacing: var(--LETTER-SPACING-SHL);
}

@mixin sub-header-s {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-SHS);
  font-weight: var(--FONT-WEIGHT-SHS);
  letter-spacing: var(--LETTER-SPACING-SHS);
}

@mixin regular-r {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-RR);
  font-weight: var(--FONT-WEIGHT-RR);
  letter-spacing: var(--LETTER-SPACING-RR);
}

@mixin regular-b {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-RB);
  font-weight: var(--FONT-WEIGHT-RB);
  letter-spacing: var(--LETTER-SPACING-RB);
}

@mixin small-r {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-SR);
  font-weight: var(--FONT-WEIGHT-SR);
  letter-spacing: var(--LETTER-SPACING-SR);
}

@mixin small-b {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-SB);
  font-weight: var(--FONT-WEIGHT-SB);
  letter-spacing: var(--LETTER-SPACING-SB);
}

@mixin caption-r {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-CR);
  font-weight: var(--FONT-WEIGHT-CR);
  letter-spacing: var(--LETTER-SPACING-CR);
}

@mixin caption-b {
  font-family: var(--FONT-FAMILY-2);
  font-size: var(--FONT-SIZE-CB);
  font-weight: var(--FONT-WEIGHT-CB);
  letter-spacing: var(--LETTER-SPACING-CB);
}
