
:root {
    --BG-Background: #ffffff;
    --BG-Nav-Bar: #eff0f5 · 24%;
    --BG-Section: #ffffff;
    --BG-Secondary-Section: #ffffff;
    --BG-Disabled: #f7f7f8;
    --BG-Purple-Dark: #7a5cc0;
    --BG-Purple-Light: #e0e7ff;
  
    --Button-Primary-BG: #1c3d8e;
    --Button-Primary-BG-Hover: #0020ff;
    --Button-Secondary-BG: #e0e7ff;
    --Button-Secondary-BG-Hover: #e0e7ff;
  
    --Typography-100: #000000;
    --Typography-200: #202020;
    --Typography-300: #404040;
    --Typography-400: #606060;
    --Typography-Disabled: #f7f7f8;
    --Typography-Purple-100: #7a5cc0;
    --Typography-Purple-200: #e0e7ff;
    --Typography-White-100: #ffffff;
    --Typography-White-200: #ffffff;
    --Typography-White-300: #ffffff;
    --Typography-White-400: #ffffff;
  
    --Icon-Default: #202020;
    --Icon-Active: #7a5cc0;
    --Icon-Purple: #7a5cc0;
    --Icon-Disabled: #f7f7f8;
  
    --Indicator-Error: #ff0000;
    --Indicator-Success: #00ff00;
  }
  