*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--Typography-100);
  text-decoration: none;
}

li,
ol {
  list-style: none;
}

html,
body {
  font-family: "Outfit", sans-serif;
  background: var(--BG-Background);
}

header {
  position: relative;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
