:root {
  --FONT-FAMILY-1: "Familjen Grotesk";
  --FONT-FAMILY-2: "Outfit";

  --FONT-SIZE-HL: clamp(3rem, 4vw, 5.25rem); // 56px–84px
  --FONT-SIZE-HM: clamp(2.5rem, 4vw, 3.25rem); // 40px–52px
  --FONT-SIZE-HS: clamp(2rem, 3vw, 2.5rem); // 32px–40px
  --FONT-SIZE-SHL: clamp(1.75rem, 3vw, 2rem); // 28px–32px
  --FONT-SIZE-SHS: clamp(1rem, 3vw, 1.25rem); // 16px–20px
  --FONT-SIZE-RR: clamp(0.75rem, 2vw, 1rem); // 16px–16px
  --FONT-SIZE-RB: clamp(0.875rem, 1.8vw, 1rem); // 14px–16px
  --FONT-SIZE-SR: clamp(0.75rem, 1.5vw, 0.875rem); // 12px–14px
  --FONT-SIZE-SB: clamp(0.75rem, 1.5vw, 0.875rem); // 12px–14px
  --FONT-SIZE-CR: clamp(0.625rem, 1.2vw, 0.75rem); // 10px–12px
  --FONT-SIZE-CB: clamp(0.625rem, 1.2vw, 0.75rem); // 10px–12px

  --FONT-WEIGHT-HL: 500;
  --FONT-WEIGHT-HM: 600;
  --FONT-WEIGHT-HS: 500;
  --FONT-WEIGHT-SHL: 500;
  --FONT-WEIGHT-SHS: 500;
  --FONT-WEIGHT-RR: 400;
  --FONT-WEIGHT-RB: 600;
  --FONT-WEIGHT-SR: 400;
  --FONT-WEIGHT-SB: 500;
  --FONT-WEIGHT-CR: 300;
  --FONT-WEIGHT-CB: 500;

  --LETTER-SPACING-HL: -0.02em;
  --LETTER-SPACING-HM: 0.02em;
  --LETTER-SPACING-HS: 0.08em;
  --LETTER-SPACING-SHL: 0.08em;
  --LETTER-SPACING-SHS: 0.1em;
  --LETTER-SPACING-RR: 0.06em;
  --LETTER-SPACING-RB: 0.02em;
  --LETTER-SPACING-SR: 0.04em;
  --LETTER-SPACING-SB: 0.04em;
  --LETTER-SPACING-CR: 0;
  --LETTER-SPACING-CB: 0;
}

html[lang="ka"] {
  --FONT-FAMILY-1: "Mersad";
  --FONT-FAMILY-2: "Mersad";

  --FONT-SIZE-HL: clamp(3rem, 4vw, 4.25rem); // 48px–68px
  --FONT-SIZE-HM: clamp(2.25rem, 3vw, 3rem); // 36px–48px
  --FONT-SIZE-HS: clamp(2rem, 5vw, 2.25rem); // 32px–36px
  --FONT-SIZE-SHL: clamp(1.75rem, 4vw, 1.75rem); // fixed at 28px
  --FONT-SIZE-SHS: clamp(1rem, 3vw, 1.125rem); // 16px–18px
  --FONT-SIZE-RR: clamp(1rem, 2vw, 1rem);
  --FONT-SIZE-RB: clamp(1rem, 2vw, 1rem);
  --FONT-SIZE-SR: clamp(0.75rem, 1.5vw, 0.875rem);
  --FONT-SIZE-SB: clamp(0.75rem, 1.5vw, 0.875rem);
  --FONT-SIZE-CR: clamp(0.625rem, 1vw, 0.75rem);
  --FONT-SIZE-CB: clamp(0.625rem, 1vw, 0.75rem);

  --FONT-WEIGHT-HL: 700;
  --FONT-WEIGHT-HM: 700;
  --FONT-WEIGHT-HS: 700;
  --FONT-WEIGHT-SHL: 600;
  --FONT-WEIGHT-SHS: 600;
  --FONT-WEIGHT-RR: 400;
  --FONT-WEIGHT-RB: 700;
  --FONT-WEIGHT-SR: 400;
  --FONT-WEIGHT-SB: 600;
  --FONT-WEIGHT-CR: 400;
  --FONT-WEIGHT-CB: 600;

  --LETTER-SPACING-HL: -0.02em;
  --LETTER-SPACING-HM: -0.02em;
  --LETTER-SPACING-HS: 0.02em;
  --LETTER-SPACING-SHL: 0.04em;
  --LETTER-SPACING-SHS: 0.02em;
  --LETTER-SPACING-RR: 0;
  --LETTER-SPACING-RB: 0;
  --LETTER-SPACING-SR: -0.03em;
  --LETTER-SPACING-SB: -0.03em;
  --LETTER-SPACING-CR: -0.02em;
  --LETTER-SPACING-CB: -0.02em;
}
