:root {
  --BG-Background: #eff0f5;
  --BG-Nav-Bar: rgba(239, 240, 245, 0.24);
  --BG-Section: #e5e6eb;
  --BG-Secondary-Section: #dbdce0;
  --BG-Disabled: #c7c8cc;
  --BG-Purple-Dark: #3c33b8;
  --BG-Purple-Light: #584fdb;

  --Button-Primary-BG: rgba(60, 51, 184, 0.72);
  --Button-Primary-BG-Hover: rgba(103, 103, 235, 0.72);
  --Button-Secondary-BG: rgba(220, 221, 235, 0.64);
  --Button-Secondary-BG-Hover: rgba(234, 235, 250, 0.64);

  --Typography-100: #252529;
  --Typography-200: #38383d;
  --Typography-300: #01012c;
  --Typography-400: #5b5a66;
  --Typography-Disabled: #75717a;
  --Typography-Purple-100: #3c33b8;
  --Typography-Purple-200: #6262f5;
  --Typography-White-100: #eff0f5;
  --Typography-White-200: #dbdce0;
  --Typography-White-300: #c7c8cc;

  --Icon-Default: #38383d;
  --Icon-Active: #252529;
  --Icon-Purple: #3c33b8;
  --Icon-Disabled: #5b5a66;

  --Indicator-Error: #eb381c;
  --Indicator-Success: #1aa323;

  //
  --Spacing-4XL: clamp(6rem, 7vw + 1rem, 12rem); // 96px - 192px
  --Spacing-3XL: clamp(6rem, 12vw, 9rem); // 96px - 144px
  --Spacing-2XL: clamp(4rem, 12vw, 7.25rem); // 64px - 116px
  --Spacing-XL: clamp(1.5rem, 7vw, 6rem); // 24px - 96px
  --Spacing-L: clamp(0.75rem, 3vw, 3rem); // 12px - 48px

  //
  --Border-Radius: 12px;
}
