@use "typography" as *;
@use "layout" as *;

.cta_section {
  @include container;

  display: flex;
  justify-content: center;

  padding-block: var(--Spacing-3XL);

  .cta {
    display: flex;
    align-items: center;

    gap: var(--Spacing-L);
    max-width: 880px;

    @media screen and (max-width: 670px) {
      flex-direction: column;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1 {
      @include sub-header-l;
    }

    p {
      @include regular-r;
    }
  }
}

.section.magnora {
  background: var(--bg-magnora-section, #09070d);

  h1,
  p {
    color: var(--Typography-White-100, #eff0f5);
  }
}

.section.zenora {
  h1,
  p {
    color: var(--Typography-Purple-100);
  }
}
