@use "typography" as *;
@use "layout" as *;

.collections_section {
  padding-block: var(--Spacing-XL);
  background: var(--bg-magnora-section, #09070d);

  .tabs_container {
    display: flex;
    align-items: center;
    justify-content: center;

    .tabs {
      display: inline-flex;
      align-items: center;
      padding: 4px;
      gap: 8px;

      border-radius: 32px;
      background: var(--bg-magnora-disabled);
      box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc),
        1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc);
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);

      .button {
        @include regular-r;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 144px;

        padding: 8px 32px;
        border-radius: 24px;
        background: none;
        color: var(--Typography-Disabled);
        transition: all 0.3s;

        &.active {
          color: var(--Typography-White-200);
          background: var(--bg-magnora-section, #09070d);
          box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
            1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset;

          -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
        }
      }
    }
  }
}
