@use "typography" as *;
@use "layout" as *;

.footer {
  background-color: var(--BG-Section);
  border-top-right-radius: 96px;
  border-top-left-radius: 96px;
  position: relative;
  padding-top: 50px;
  overflow: hidden;

  position: relative;
  min-height: 850px;
  width: 100%;

  .bg-images {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;

    .logo {
      width: 496px;
      height: 496px;

      @media (max-width: 900px) {
        width: 298px;
        height: 298px;
      }

      @media (max-width: 600px) {
        width: 192px;
        height: 192px;
      }
    }

    .logo_title {
      width: 100%;
      object-fit: cover;
    }
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;

  @include container;

  .subscribe-section {
    width: 100%;
    gap: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 96px;

    .subscribe-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 616px;
      gap: 8px;

      h4 {
        @include sub-header-s;
      }

      p {
        @include regular-r;
      }

      @media (max-width: 900px) {
        width: 100%;
        align-items: flex-start;
      }
    }

    .subscribe-inp-btn-group {
      display: flex;
      align-items: center;
      gap: 16px;

      @media (max-width: 900px) {
        width: 100%;
      }

      app-input {
        width: 294px;

        @media (max-width: 900px) {
          width: 100%;
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;
      }

      app-button {
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  .info-section {
    display: flex;
    justify-content: space-between;

    .info-name {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h5 {
        @include sub-header-s;
      }

      p {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 4%;
        font-weight: 400;
      }
    }

    .info-links {
      display: flex;
      gap: 96px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          @include regular-r;
          color: var(--Typography-300);

          &:first-child {
            @include regular-b;

            margin-bottom: 8px;
          }
        }
      }

      @media (max-width: 900px) {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 48px 96px;
      }
    }

    @media (max-width: 900px) {
      width: 100%;
      flex-direction: column;
      gap: 48px;
    }
  }

  .copyright-section {
    display: flex;
    justify-content: space-between;
    padding-top: var(--Spacing-L);

    p {
      @include small-r;
    }

    p, a {
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }

    @media (max-width: 700px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 12px;
    }
  }

  @media (max-width: 700px) {
    gap: 48px;
  }
}

//
.footer.magnora {
  background: var(--bg-magnora-background, #07050a);
  border-radius: 0;

  .subscribe-text {
    h4 {
      color: var(--Typography-White-100, #eff0f5);
    }

    p {
      color: var(--Typography-White-300, #c7c8cc);
    }
  }

  .info-name {
    h5 {
      color: var(--Typography-White-100, #eff0f5);
    }

    p {
      color: var(--Typography-White-300, #c7c8cc);
    }
  }

  .info-links {
    ul {
      li {
        a {
          color: var(--Typography-White-300, #c7c8cc);
        }

        &:first-child a {
          color: var(--Typography-White-100, #eff0f5);
        }
      }
    }
  }

  .copyright-section {
    p {
      color: var(--Typography-White-100, #eff0f5);
    }

    a {
      color: var(--Typography-White-400, #88838f);

      span {
        color: var(--Typography-White-100, #eff0f5);
      }
    }
  }

  .bg-images {
    opacity: 0.2;
  }

  .blob {
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;

    border-radius: 200px;
    background: var(--BG-Purple-Light, #584fdb);
    filter: blur(360px);

    position: absolute;
    left: 520px;
    bottom: -200px;
  }
}

.footer.root {
  .subscribe-text {
    h4 {
      color: var(--Typography-100);
    }

    p {
      color: var(--Typography-300);
    }
  }

  .info-name {
    h5 {
      color: var(--Typography-100);
    }

    p {
      color: var(--Typography-300);
    }
  }

  .info-links {
    ul {
      li {
        a {
          color: var(--Typography-300);
        }

        &:first-child a {
          color: var(--Typography-100, #252529);
        }
      }
    }
  }

  .copyright-section {
    p {
      color: var(--Typography-100, #252529);
    }

    a {
      color: var(--Typography-400, #5b5a66);

      span {
        color: var(--Typography-100, #252529);
      }
    }
  }
}

.footer.zenora {
  .subscribe-text {
    h4 {
      color: var(--Typography-Purple-100);
    }

    p {
      color: var(--Typography-Purple-200);
    }
  }

  .info-name {
    h5 {
      color: var(--Typography-Purple-100);
    }

    p {
      color: var(--Typography-Purple-200);
    }
  }

  .info-links {
    ul {
      li {
        a {
          color: var(--Typography-Purple-200);
        }

        &:first-child a {
          color: var(--Typography-Purple-100);
        }
      }
    }
  }

  .copyright-section {
    p {
      color: var(--Typography-Purple-100);
    }

    a {
      color: var(--Typography-400, #5b5a66);

      span {
        color: var(--Typography-Purple-100, #3c33b8);
      }
    }
  }

  @media (max-width: 900px) {
    gap: 36px;
  }
}
