<footer class="footer">
  <div class="footer__section">
    <div class="subscribe-section">
      <div class="subscribe-text">
        <h4>Stay in the Loop</h4>
        <p>
          Exclusive drops, offers, and energy insights — straight to your inbox.
        </p>
      </div>
      <div class="subscribe-inp-btn-group">
        <app-input class="as" placeholder="Example@gmail.com"></app-input>
        <app-button>Subscribe</app-button>
      </div>
    </div>

    <div class="info-section">
      <div class="info-name">
        <h5>
          @if(type === "magnora") {
          {{ MTexts.footerHeader }}
          } @else {
          {{ ZTexts.footerHeader }}
          }
        </h5>
        <p>
          @if(type === "magnora") {
          {{ MTexts.footerContent }}
          } @else {
          {{ ZTexts.footerContent }}
          }
        </p>
      </div>
      <div class="info-links">
        <ul>
          <li>Socials</li>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Linked In</li>
        </ul>
        <ul>
          <li>Company</li>
          <li>Products</li>
          <li>About</li>
          <li>Services</li>
          <li>Contact</li>
        </ul>
        <ul>
          <li>Contact</li>
          <li>Tel: +995 555 555 555</li>
          <li>Email: Example&#64;gmail.com</li>
        </ul>
      </div>
    </div>

    <div class="copyright-section">
      <p>© All Rights Received.</p>
      <p>Designed & Developed by <span>- Koober Coders | 2025</span></p>
    </div>
  </div>

  <div class="bg-images">
    <img
      alt="img"
      class="logo"
      src="assets/images/footer-background-icon.png"
    />

    @if(type === "magnora"){
    <img
      alt="img"
      class="logo_title"
      src="assets/images/magnora-footer-text.png"
    />
    } @else if (type=== "zenora") {
    <img
      alt="img"
      class="logo_title"
      src="assets/images/zenora-footer-text.png"
    />
    }
  </div>
</footer>
