<footer [ngClass]="type" class="footer">
  <div class="footer__section">
    <div class="subscribe-section">
      <div class="subscribe-text">
        <h4>Stay in the Loop</h4>
        <p>
          Exclusive drops, offers, and energy insights — straight to your inbox.
        </p>
      </div>
      <div class="subscribe-inp-btn-group">
        <app-input
          [variant]="type === 'magnora' ? 'magnora' : 'normal'"
          placeholder="Example@gmail.com"
        ></app-input>
        <app-button>Subscribe</app-button>
      </div>
    </div>

    <div class="info-section">
      <div class="info-name">
        <h5>
          @if(type === "magnora") {
          {{ MTexts.footerHeader }}
          } @else {
          {{ ZTexts.footerHeader }}
          }
        </h5>
        <p>
          @if(type === "magnora") {
          {{ MTexts.footerContent }}
          } @else {
          {{ ZTexts.footerContent }}
          }
        </p>
      </div>
      <div class="info-links">
        <ul>
          <li><a href="#">Socials</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Linked In</a></li>
        </ul>
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="tel:+995555555555">Tel: +995 555 555 555</a></li>
          <li>
            <a href="mailto:Example@gmail.com">Email: Example&#64;gmail.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="copyright-section">
      <p>© All Rights Received.</p>
      <a href="/" target="_blank">
        Designed & Developed by <span>- Koober Coders | 2025</span>
      </a>
    </div>
  </div>

  <div class="bg-images">
    <img
      alt="img"
      class="logo"
      src="assets/images/footer-background-icon.png"
    />

    @if(type === "magnora"){
    <img
      alt="img"
      class="logo_title"
      src="assets/images/magnora-footer-text.png"
    />
    } @else if (type=== "zenora") {
    <img
      alt="img"
      class="logo_title"
      src="assets/images/zenora-footer-text.png"
    />
    }
  </div>

  <div class="blob"></div>
</footer>
