<footer>
    <div class="footer">
        <div class="subscribe-section">
            <div class="subscribe-text">
                <h4>Stay in the Loop</h4>
                <p>Exclusive drops, offers, and energy insights — straight to your inbox.</p>
            </div>
            <div class="subscribe-inp-btn-group">
                <app-input [placeholder]="'Example@gmail.com'"></app-input>
                <app-button>Subscribe</app-button>
            </div>
        </div>
        <div class="info-section">
            <div class="info-name">
                <h5>{{ footerText.footerHeader}}</h5>
                <p>{{ footerText.footerContent }}</p>
            </div>
            <div class="info-links">
                <ul class="socials-ul">
                    <p>Socials</p>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Linked In</li>
                </ul>
                <ul class="company-ul">
                    <p>Company</p>
                    <li>Products</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul>
                <ul class="contact-ul">
                    <p>Contact</p>
                    <li>Tel: +995 555 555 555</li>
                    <li>Email: Example&#64;gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright-section">
            <p>© All Rights Received.</p>
            <p>Designed & Developed by <span>- Koober Coders | 2025</span></p>
        </div>
        <div class="bg-images">
            <img class="img" src="assets/images/footer-background-icon.png" alt="">
            <img src="assets/images/footer-background-text.png" alt="">
        </div>
    </div>
</footer>




  
  
