<section class="main">
  <div
    class="left"
    #leftSection
    [@sectionExpand]="leftSectionState"
    [@fadeOut]="leftSectionState === 'normal' ? oppositeState : 'visible'"
  >
    <div class="content">
      <h1>Magnora</h1>
      <p>
        Where timeless craftsmanship meets uncompromising luxury — each piece is
        designed to reflect your elegance, your ambition, and your desire for
        perfection in every detail
      </p>
    </div>

    <div id="left_stars"></div>
    <div id="left_stars2"></div>
    <div id="left_stars3"></div>

    <app-button
      (click)="onMagnoraClick($event)"
      variant="secondary"
      class="btn"
    >
      Enter the World of Magnora
    </app-button>

    <div class="img">
      <img
        loading="lazy"
        alt="magnora-welcome-img"
        src="assets/images/magnora-welcome-img.png"
      />
    </div>
  </div>

  <div
    class="right"
    #rightSection
    [@sectionExpand]="rightSectionState"
    [@fadeOut]="rightSectionState === 'normal' ? oppositeState : 'visible'"
  >
    <div class="content">
      <h1>Zenora</h1>
      <p>
        Discover jewelry that brings you closer to yourself — inspired by
        nature, designed to restore your sense of calm, and crafted to symbolize
        renewal in every moment
      </p>
    </div>

    <div id="right_stars"></div>
    <div id="right_stars2"></div>
    <div id="right_stars3"></div>

    <app-button (click)="onZenoraClick($event)" class="btn">
      Explore Zenora's Serenity
    </app-button>

    <div class="img">
      <img
        loading="lazy"
        alt="zenora-welcome-img"
        src="assets/images/zenora-welcome-img.png"
      />
    </div>
  </div>

  <!-- Overlay for smooth transition -->
  <div class="transition-overlay" [@overlayFade]="overlayState"></div>
</section>
