@use "typography" as *;


.container {
    background-color: var(--BG-Section);
    padding: 3rem;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
    gap: 2.1rem;

    .input {
        max-width: 358px;
    }
  }
  .titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    .go-back {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      img {
        width: 100%;
        max-width: 32px;
        height: 32px;
        cursor: pointer;
      }
      p {
        @include sub-header-s;
        color: var(--Typography-200);
      }
    }
}

@media (max-width: 850px) { 
  .form {
    grid-template-columns: 1fr;
    align-items: end;
    gap: 1.5rem;

    .input {
      max-width: 100%;
    }
  }
}


@media (max-width: 768px) and (min-width: 501px) {
  .container {
    padding: 2rem;
    gap: 2rem;
  }
  .form {
    grid-template-columns: 1.8fr 1fr;
    align-items: end;
    gap: 1.5rem;

    .input {
      max-width: 100%;
    }
  }
  .titles {
  
    .go-back {
      img {
        max-width: 24px;
        height: 24px;
      }

    }
  }
}


