@use "typography" as *;

.container {
  background-color: var(--BG-Section);
  flex-direction: column;
  border-radius: 48px;
  padding: 3rem;
  display: flex;
  gap: 3rem;
}

.form {
  display: flex;
  align-items: end;
  gap: 2.1rem;

  .input {
    max-width: 358px;
  }
}

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .go-back {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    img {
      width: 100%;
      max-width: 32px;
      height: 32px;
      cursor: pointer;
    }
    p {
      @include sub-header-s;
      color: var(--Typography-200);
    }
  }
}

@media screen and (max-width: 560px) {
  .form {
    flex-direction: column;

    .input {
      width: 100%;
      max-width: 100%;
    }

    .button {
      width: 100%;
    }
  }
}
