<div class="container">
  <div class="titles">
    <div (click)="goBack()" class="go-back">
      <img (click)="goBack()" src="assets/icons/left-arrow.png" alt="" />
      <p>Go Back</p>
    </div>
  </div>
  <form (submit)="submit()" [formGroup]="form" class="form">
    <div class="input">
      <app-form-input
        formControlName="email"
        [errorMessage]="getErrorMessage(form.controls.email)"
        [label]="'Your Email'"
        [type]="'email'"
        [status]="
          form.controls.email.valid
            ? 'success'
            : form.controls.email.touched
            ? 'error'
            : 'normal'
        "
        [placeholder]="'Example@gmail.com'"
      >
      </app-form-input>
    </div>

    <div class="button">
      <app-button type="submit">Continue</app-button>
    </div>
  </form>
</div>
