@use "layout" as *;

.header {
  @include container;

  display: grid;
  align-items: center;

  width: auto;
  padding: 12px 48px 20px;
  position: fixed;
  height: 92px;

  top: 32px;
  left: 32px;
  right: 32px;
  z-index: 9999;

  border-radius: 48px;
  background: var(--BG-Nav-Bar, rgba(239, 240, 245, 0.24));
  box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
    1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  @media screen and (max-width: 600px) {
    top: auto;
    bottom: 32px;
    left: 18px;
    right: 18px;

    padding: 8px 24px;
  }
}

.nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

.left,
.right {
  display: flex;
  align-items: center;

  gap: 32px;
}

.center img {
  cursor: pointer;
}

.right {
  justify-self: end;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  color: var(--Typography-100, #252529);
  font-style: normal;
  line-height: 14px;
  font-weight: 500;
  font-size: 12px;

  .icon {
    display: flex;
    align-items: center;

    padding: 6px;
    gap: 10px;
  }

  .menu {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .line {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.open {
      .line1 {
        transform: rotate(45deg) translate(6.4px, 6.4px);
      }
      .line2 {
        transform: rotate(-45deg) translate(6.4px, -6.4px);
      }
    }
  }
}

@media (max-width: 900px) {
  .left {
    .box:first-child {
      display: none;
    }
  }

  .right {
    .box:first-child {
      display: none;
    }

    .box:nth-child(2) {
      display: none;
    }
  }
}

//
.header.magnora {
  background: var(--bg-magnora-nav-bar, rgba(7, 5, 10, 0.24));
  box-shadow: -1px -1px 0px 0px #2e2e3d inset, 1px 1px 0px 0px #2e2e3d inset;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  .box {
    color: var(--Typography-White-100, #eff0f5);
  }
}

.search {
  display: none;

  @media screen and (max-width: 600px) {
    display: flex;
  }
}
