@use "typography" as *;

.input {
  @include regular-r;

  width: 100%;
  border: none;
  outline: none;
  padding: 12px 24px;
  border-radius: 24px;
  transition: 0.3s;
  color: var(--Typography-300, #4b4b52);
  background: var(--BG-Secondary-Section, #dbdce0);
  box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
    1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
    0px 0px 12px -2px var(--BG-Dissabled, #c7c8cc) inset;

  &::placeholder {
    color: var(--Typography-300, #4b4b52);
  }

  &:focus {
    color: var(--Typography-100, #252529);
    background: var(--BG-Section, #e5e6eb);
    transition: 0.3s;
    box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      0px 0px 24px 0px var(--BG-Background, #eff0f5) inset;

    &::placeholder {
      color: var(--Typography-100, #252529);
    }
  }

  &:disabled {
    color: var(--Typography-Dissabled, #88838f);
    background: var(--BG-Dissabled, #c7c8cc);
    box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      0px 0px 24px -4px var(--BG-Section, #e5e6eb) inset;

    &::placeholder {
      color: var(--Typography-Dissabled, #88838f);
    }
  }

  &.error {
    color: var(--Indicator-Error, #eb381c);
    background: var(--BG-Secondary-Section, #dbdce0);
    box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      0px 0px 32px -12px var(--Indicator-Error, #eb381c) inset;

    &::placeholder {
      color: var(--Indicator-Error, #eb381c);
    }
  }

  &.success {
    color: var(--Indicator-Success, #1aa323);
    background: var(--BG-Secondary-Section, #dbdce0);
    box-shadow: -1px -1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      1px 1px 0px 0px var(--BG-Dissabled, #c7c8cc) inset,
      0px 0px 32px -12px var(--Indicator-Success, #1aa323) inset;

    &::placeholder {
      color: var(--Indicator-Success, #1aa323);
    }
  }

  &.magnora {
    color: var(--Typography-White-400, #88838f);
    background: var(--bg-magnora-dissabled, #17171f);
    box-shadow: -1px -1px 0px 0px #2e2e3d inset, 1px 1px 0px 0px #2e2e3d inset,
      0px 0px 32px -8px rgba(46, 46, 61, 0.64) inset;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);

    &::placeholder {
      color: var(--Typography-White-400, #88838f);
    }
  }
}
